section.about {
  background-color: $bg-clear;
  min-height: 180px;

  .about {
    @media screen and (max-width: $break-bigphone) {
      h2 {
        font-size: 36px;
      }
    }
  }

  p {
    color: #373737;
    text-align: left !important;
  }

  .accordion {
    margin-bottom: 40px;
  }

  .lead{
    font-family: 'bourgeoisbookcond';
    letter-spacing: 0.4px;
    margin-bottom: 0;
  }

  h2, h3 {
    color: #d50e0e;
    text-transform: uppercase;
    font-size: 46px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 35px;
  }
}
