section.header {
  background-color: $bg-clear;

  p {
    color: black;
  }
  .logo {
    position: absolute;
  }

  a {
    // float:left;
    font-size:13px;
    color:#fff;
    display: inline-block;
    position: relative;
    margin: 5px 0 ;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 23px;
    height: 23px;
    font-size: 12px;
    background: #666666;

    i {
      margin: 0;
      line-height: 24px;
      text-align: center;
    }
  }
}
