* {
  box-sizing: border-box;
  outline: none;
}

section.slider {
  background-color: $bg-clear;
  background-image: url('/images/bg-slider.png');
  min-height: 300px;
  padding-top: 20px;

  h1 {
    font-family: 'bourgeois_condbold';
  }
}

.slick {
  width: 70%;
  margin: 0 auto;
}

.slick-slide {
  margin-top: 0px;
}

.slick-slide img {
  width: 100%;
  outline: none
}

.slick-list:focus {

}

.slick-list {
  margin: 0 -40px;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 50px;
}

.slick-prev:before {
  margin-left: -150px;
  text-shadow: 4px 4px #636262;
}

.slick-next:before {
  margin-left: 55px;
  text-shadow: 4px 4px #7b7b7b;
}

.slick-dotted .slick-current img {
  transform: scale(0.95);
  box-shadow: 10px 10px 25px 5px #888888;
}

.slick-slide:not(.slick-current) img {
  transform: scale(0.7);
  -webkit-filter:brightness(70%);
  -moz-filter:brightness(70%);
  filter:brightness(70%);
}

.slick-arrow {
  z-index: 9999;
}

.slick-dots li button:before {
  color: black;
}

.slick-dots li.slick-active button:before {
  color: white;
}
