section.slogan {
  background-color: $bg-cement;
  background-image: url('/images/bg-slogan.jpg');
  height: 180px;

  h2 {
    color: #d50e0e;
    text-transform: uppercase;
    font-size: 46px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .lead{
    font-family: 'bourgeois_condbold';
    color: #373737;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-size: 34px;
    margin-top: -15sepx;
  }



}
