section.videos {
  background-color: $bg-dark;
  padding: 40px 0 100px 0;


  h2 {
    color: #d50e0e;
    text-transform: uppercase;
    font-size: 46px;
  }
  .lead{
    font-family: 'bourgeoisbookcond';
    color: #9ea6a5;
    letter-spacing: 0.4px;
    margin-bottom: 0;
  }

  .video {
    margin-top: 40px;
  }


  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow:
    hidden;
    max-width: 100%;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
